<html lang='en'>
  <head>
   {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header  -->
    <div class='container-fluid main_header'>
      <div class='row'>
        <div class='col-md-10 col-12 mx-auto'>
          <div class='row'>
            <!-- left side div -->
            <div class='col-md-6 col-12 main_header_right align-items-center'>
              <figure class='sujan'>
                <img src='images/about.png' alt='sujan' class='img-fluid' />
              </figure>
            </div>

            <div class='col-md-6 col-12 main_header_left'>
              <p>Welcome to  <span class='text_color'>Weather Hub</span></p>
              <h2>
                I am a
                <span class='text_color'> Web Developer </span>
                and
                <span class='text_color'>Self Motivated </span>
                person
              </h2>
              <a
                href='https://www.facebook.com/sujan7.sm/'
                target='_blank'
              ><button>About me</button></a>
            </div>
            <!-- Right Side Div -->
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
    {{>footer}}
  </body>
</html>